setuptools
googleapis-common-protos
grpcio
grpcio-tools
numpy
docutils
protobuf
PyYAML
numpydoc
cfunits
scipy
docker
pytest
futures
https://github.com/eWaterCycle/bmi-python/archive/master.zip#egg=bmi-heat
