setuptools
googleapis-common-protos
grpcio
grpcio-tools
grpcio-reflection
numpy
docutils
protobuf
PyYAML
numpydoc
cfunits
scipy
docker
pytest
pytest-cov
futures
https://github.com/eWaterCycle/bmi-python/archive/master.zip#egg=bmi-heat
sphinx
sphinxcontrib-napoleon
sphinx-argparse
sphinx_rtd_theme

