setuptools
googleapis-common-protos
grpcio
grpcio-tools
grpcio-reflection
numpy
docutils<0.18
protobuf
PyYAML
numpydoc
cfunits
scipy
docker
pytest
pytest-cov
https://github.com/eWaterCycle/bmi-python/archive/master.zip#egg=bmi-heat
# Pin scipy as bmi-heat needs it for `from scipy import random`
scipy==1.8.1
sphinx
sphinxcontrib-apidoc
sphinxcontrib-napoleon
sphinx-argparse
sphinx_rtd_theme
nbconvert
ipykernel
nbformat
