# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e .[R]
        export R_LIBS_USER=~/.Renviron
    - name: Setup Singularity
      uses: eWaterCycle/setup-singularity@v6
      with:
        singularity-version: 3.8.3
    - name: Pull Docker image
      run: docker pull ewatercycle/walrus-grpc4bmi:v0.2.0
    - name: Cache Singularity image
      id: cache-singularity-image
      uses: actions/cache@v2
      with:
        path: ~/.singularity
        key: singularity-image
    - name: Pull Singularity image
      if: steps.cache-singularity-image.outputs.cache-hit != 'true'
      run: singularity pull docker://ewatercycle/walrus-grpc4bmi:v0.2.0
    - name: Install R dependencies
      run: |
        export R_LIBS_USER=~/.Renviron
        mkdir -p ~/.Renviron
        Rscript -e "install.packages('remotes')"
        Rscript -e "install.packages('R6')"
    - name: Test with pytest
      run: pytest --cov=grpc4bmi --cov-report xml
    - name: Correct coverage paths
      run: sed -i "s+$PWD/++g" coverage.xml
    - name: SonarCloud analysis
      uses: sonarsource/sonarcloud-github-action@v1.3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  cpp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install grpc
        uses: ewatercycle/setup-grpc@v4
        with:
          grpc-version: 1.27.2
      - name: Copy grpc to system default
        run: |
          sudo rsync -a $GRPC_ROOT/ /usr/local
          sudo ldconfig
      - name: Build & install bmi-c
        run: mkdir -p build && cd build && cmake .. && sudo make install
        working-directory: cpp/bmi-c
      - name: Build dir
        run: mkdir -p cpp//build
      - name: configure
        run: cmake ..
        working-directory: cpp/build
      - name: make
        run: make VERBOSE=1
        working-directory: cpp/build
      - name: ctest
        run: ctest -V
        working-directory: cpp/build
